{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "unicorn"
  ],
  "extends": [
    "oclif",
    "oclif-typescript",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "object-curly-spacing": "off",
    "no-unused-vars": "warn",
    "semi": "warn",
    "indent": ["warn", 4],
    "unicorn/no-abusive-eslint-disable": "off",
    "lines-between-class-members": "off",
    "no-await-in-loop": "off",
    "unicorn/catch-error-name": "off",
    "unicorn/prevent-abbreviations": "off",
    "unicorn/prefer-string-slice": "off",
    "no-trailing-spaces": "off",
    "@typescript-eslint/no-explicit-any": "off"
  }
}
